<style>
.avatar-container {
    width: 100%;
}

.avatar-container:hover .img {
    opacity: 0.3;
}

.avatar-container:hover .middle {
    opacity: 1;
}

.img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    transition: 1000ms;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.subitem{
    background-color: #AAAAAA;
}

#sidebar {
    margin-top: 25px;
}

#app-menu {
    padding: 0;
    height: 100%;
    margin: 0;
}

#menu {
    height: 100%;
    width: 20%;
}

.controller-child {
    width: 80%;
}
</style>