nav {
    height: 10%;
}

#app-menu {
    background-color: grey;
    border: solid;
    height: 90%;
}

#app-content {
    background-color: white;
    border: solid;
    height: 90%;
    padding: 0
}