header {
    background-color: black;
    width: 100%;
    height: 10%;
}

nav {
    height: 10%;
}

#app-menu {
    display: inline-block;
    background-color: blue;
    height: 79.6%;
    width: 20%;
}

#app-content {
    display: inline-block;
    background-color: yellow;
    height: 79.6%;
    width: 79.6%;
}