nav {
    height: 10%;
}

#app-menu {
    background-color: grey;
    height: 90%;
    padding: 0;
}

#app-content {
    background-color: white;
    padding: 0;
    padding-left: 1px;
    padding-right: 1px;
    height: 90%;

}

.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #FFFFF;
}

.scrollbar::-webkit-scrollbar
{
	width: 12px;
	background-color: #FFFFFF;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #AAAAAA;
}
